.App {
  font-family: sans-serif;
  text-align: center;
}

.data-set-parent {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.data-set-second {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.data-set {
  padding: 20px;
  -webkit-box-shadow: -1px 8px 11px -5px rgba(112, 112, 112, 0.6);
  -moz-box-shadow: -1px 8px 11px -5px rgba(112, 112, 112, 0.6);
  box-shadow: -1px 8px 11px -5px rgba(112, 112, 112, 0.6);
  margin-bottom: 10px;
  width: 105px;
  margin-left: 10px;
  margin-right: 10px;
}

.data-set {
  font-size: 20px;
  padding-top: 35px;
  color: #095797;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.data-set svg {
  width: 35px;
  display: block;
  padding-bottom: 10px;
  margin: auto;
}

.data-set svg {
  color: #130a3a;
}

.real-date {
  color: #696969;
  font-size: 15px;
}

.data-set {
  font-size: 17px;
  padding-top: 35px;
  color: #095797;
  font-weight: 700;
  margin-bottom: 15px;
}

.data-set b {
  margin-bottom: 5px;
  font-size: 17px;
  color: #000;
  display: block;
}

.col {
  width: 100%;
}

.firstcol.col form * {
  display: block;
}

.firstcol.col form input {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #095797;
}
.firstcol.col form textarea {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  height: 120px;
  border: 1px solid #095797;
}

.firstcol.col form button {
  font-size: 15px;
  padding: 10px;
  border-radius: 24px;
  background: #0957a4;
  border: 0;
  color: #fff;
  width: 100px;
}

.notepad {
  text-align: left;
  background: #f9f9f9;
  padding: 15px;
  position: relative;
  margin-bottom: 15px;
  border: 1px solid #e7e7e7;
}

.notepad h3 {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 0;
  font-size: 16px;
  color: #0957a4;
}

.notepad span {
  font-size: 12px;
}

.checklisttodo {
  background: #c0e0ff;
  text-align: center;
  padding: 10px;
  border: 3px solid #7fbdf9;
  padding-bottom: 15px;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 20px;
}

.App.appparent {
  display: flex;
  flex-wrap: wrap;
}

.appcol.firstcol {
  width: 60%;
}

.appcol.secondcol {
  width: 40%;
}

.firstcol.col {
  width: 100%;
}

.appcol.firstcol h1 {
  margin-bottom: 5px;
}

.notepad button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  font-size: 17px;
  font-weight: bold;
  border-radius: 150%;
  color: #fff;
  background: #0957a4;
  width: 23px;
}

.notepad button:hover {
  background: #130a3a;
  cursor: pointer;
}

.appcol.secondcol h3 {
  text-align: left;
}

.secondcol.col {
  width: 85%;
}

.frametodo {
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 15px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #c0e0ff;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7fbdf9;
}

.chartcovid canvas {
  width: 80% !important;
  height: auto !important;
  margin: auto;
  padding: 20px;
  background: #00;
  -webkit-box-shadow: -1px 8px 11px -5px rgba(112, 112, 112, 0.6);
  -moz-box-shadow: -1px 8px 11px -5px rgba(112, 112, 112, 0.6);
  box-shadow: -1px 8px 11px -5px rgba(112, 112, 112, 0.6);
}

form.dropdownsea {
  margin-top: 20px;
  margin-bottom: 10px;
}

form.dropdownsea {
  text-align: left;
  max-width: 615px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

form.dropdownsea select {
  width: 200px;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #c4c4c4;
  font-weight: bold;
}

.localset {
  text-align: right;
  margin-bottom: 10px;
  border-bottom: 1px dotted #7fbdf9;
}

.localset button {
  margin-left: 5px;
  padding: 8px;
  background: transparent;
  border-top: 1px solid #7fbdf9;
  border-left: 1px solid #7fbdf9;
  border-right: 1px solid #7fbdf9;
  border-bottom: 0px;
  color: #0957a4;
}

.localset svg {
  width: 12px;
  position: relative;
  top: 1px;
}

.localset > button:nth-child(1) > svg {
  width: 10px;
}

.localset button:nth-child(1):hover {
  background: #119906;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.localset button:nth-child(2):hover {
  background: #d81111;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.firstcol.col form {
  -webkit-box-shadow: -1px 8px 11px -5px rgba(112, 112, 112, 0.6);
  -moz-box-shadow: -1px 8px 11px -5px rgba(112, 112, 112, 0.6);
  box-shadow: -1px 8px 11px -5px rgba(112, 112, 112, 0.6);
  width: 80%;
  padding: 22px;
}

.iconvirus svg {
  width: 70px;
  float: left;
  padding: 20px;
  color: #095797;
  padding-top: 0;
}

.checklisttodo {
  font-size: 14px;
  text-align: left;
}

.data-set:nth-child(1) svg {
  color: #108e00;
}

.data-set:nth-child(2) svg {
  color: #2861ff;
}

.data-set:nth-child(3) svg {
  color: #0e3091;
}

.data-set:nth-child(4) svg {
  color: #ab4b07;
}

.data-set:nth-child(5) svg {
  color: #b80202;
}

.data-set:nth-child(6) svg {
  color: #05887c;
}

.data-set:nth-child(7) svg {
  color: #b6a913;
}

.data-set:nth-child(8) svg {
  color: #3e053a;
}

.data-set:nth-child(1) {
  border-bottom: 5px solid #108e00;
}

.data-set:nth-child(2) {
  border-bottom: 5px solid #2861ff;
}

.data-set:nth-child(3) {
  border-bottom: 5px solid #0e3091;
}

.data-set:nth-child(4) {
  border-bottom: 5px solid #ab4b07;
}

.data-set:nth-child(5) {
  border-bottom: 5px solid #b80202;
}

.data-set:nth-child(6) {
  border-bottom: 5px solid #44a69d;
}

.data-set:nth-child(7) {
  border-bottom: 5px solid #b6a913;
}

.data-set:nth-child(8) {
  border-bottom: 5px solid #3e053a;
}
